.border-pane{
    -fx-border-color: #000000;
    -fx-border-width: 4px;
}
.top-form{
    -fx-background-color:#ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 0px;
}
.semi-top-form{
    -fx-background-color:#ffffff;
    -fx-border-color: #000000;
}
.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.closeHover{
    -fx-background-color:#d62b22;
    -fx-font-color:#f0f2f5;
    -fx-background-radius:0;
}
.minimize-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize-btn:hover{
    -fx-background-color:#f5f5f5;
    -fx-cursor:hand;
}
.nav{
    -fx-background-color:#2d3752;
    -fx-background-radius:10px;
}
.nav-btn{
    -fx-background-color:#dce4f2;
    -fx-background-radius:20px;
    -fx-text-fill:#24305e;
    -fx-font-family: "BankGothic Md BT";
    -fx-font-size: 16px;
}
.nav-btn:hover{
    -fx-background-color:#ffffff;
    -fx-padding:13px;
    -fx-text-fill: #f76c6c;
    -fx-effect: dropshadow(gaussian, white, 25, 0, 0, 0); /* Neon glow effect */
}
.nav-btn.selected {
    -fx-background-color: #ffffff;
    -fx-padding: 13px;
    -fx-text-fill: #f76c6c;
    -fx-effect: dropshadow(gaussian, white, 25, 0, 0, 0); /* Neon glow effect */
}
.logout{
    -fx-background-color:#ffffff;
    -fx-background-radius:50px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-text-fill: linear-gradient(from 0.0% 100.0% to 100.0% 0.0%, #290000 0.0%, #420a04 26.0976%, #8f2d15 53.9024%, #b15018 75.7755%, #ffbf00 100.0%);
    -fx-effect: dropshadow(gaussian, yellow, 25, 0, 0, 0); /* Neon glow effect */
}
.white-bg{
    -fx-background-color:#ffffff;
    -fx-background-radius:6px;
}
.light-bg{
    -fx-background-color:#ede8f5;
}
.behind-bg{
    -fx-background-color:#202b4d;
}
.border-pane-bg{
    -fx-background-color:#90aead;
}
.dark-bg{
    -fx-background-color:#202b4d;
    -fx-background-radius:0px 6px 6px 0px;
    -fx-border-width:0px;
}
.medium-bg{
    -fx-background-color:#dce4f2;
    -fx-background-radius:6px;
    -fx-border-radius:6px;
    -fx-border-width:1px;
    -fx-border-color:#202b4d;
}
.content-bg{
    -fx-background-color:#adbbda;
    -fx-background-radius:6px;
    -fx-border-width:0px;
}
.textfield{
   -fx-background-color: #ffffff;
   -fx-background-radius:10px;
   -fx-border-color:#2d3752;
   -fx-border-radius:10px;
   -fx-border-width:1.5px;
}
.textfield:focused{
    -fx-background-color: #dce4f2;
}
.btn{
    -fx-background-color:#2d3752;
    -fx-background-radius:5px;
    -fx-border-radius:5px;
    -fx-border-width:2px;
    -fx-cursor:hand;
    -fx-text-fill: white;
}
.btn:hover{
    -fx-text-fill: #f76c6c;
    -fx-effect: dropshadow(gaussian, white, 25, 0, 0, 0); /* Neon glow effect */
}
.table-view{
    -fx-background-color: #ffffff;
    -fx-border-size:0px;
    -fx-text-fill:#f76c6c;
    -fx-padding:5px;
}
.table-view .table-column{
    -fx-alignment:center;
}
.table-view .column-header-background{
    -fx-background-color: #ffffff;

}
.table-view .column-header, .filter{
    -fx-background-color: #2d3752;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-text-fill:#ffffff;

}